<!-- {{ ansible_managed }} -->
<!DOCTYPE html>
<html>
<head>
<title>Welcome to the Linux HA Virtualization Platform </title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to the Linux HA Virtualization Platform</h1>
<p>If you see this page, the nginx web server is successfully installed and running on the cluster stack and
working. If everything else is working the following urls will be available:</p>
<ul>
<li><a href='http://172.20.230.66/munin/'>Munin Monitoring</a></li>
<li><a href='http://172.20.230.70:8000'>Puppet Board</a></li>
<li><a href='http://172.20.230.70:80'>Puppet Explorer</a></li>
<li><a href='http://172.20.230.71:80'>Ansible AWX</a></li>
<li><a href='http://172.20.230.100:9000'>Jenkins Master</a></li>
</ul>


<p>For online documentation and support please refer to
<a href="http://github.com/ppouliot/ansible-drbd_virt_cluster">ansible-drbd_virt_cluster</a>.<br/>

<p><em>Thank you for using our virtualization solutuion</em></p>
</body>
</html>
