# {{ ansible_managed }}
127.0.0.1	localhost
127.0.1.1	{{ inventory_hostname }}.{{ default_fqdn }} {{ inventory_hostname }}
{{ hostvars['virt-cl-drbd-0']['br0']['address'] }}	virt-cl-drbd-0
{{ hostvars['virt-cl-drbd-1']['br0']['address'] }}	virt-cl-drbd-1
{{ hostvars['virt-cl-drbd-0']['eno2']['address'] }}	virt-cl-drbd-data-0
{{ hostvars['virt-cl-drbd-1']['eno2']['address'] }}	virt-cl-drbd-data-1
{{ hostvars['virt-cl-drbd-0']['ipmi']['address'] }}	virt-cl-drbd-ipmi-0
{{ hostvars['virt-cl-drbd-1']['ipmi']['address'] }}	virt-cl-drbd-ipmi-1
172.20.230.70	puppetmaster
172.20.230.70	puppet
172.20.230.71	awx
172.20.230.68	ipam1
172.20.230.69 	ipam2
172.20.230.91	quartermaster
172.20.230.87	maas
172.20.230.100	jenkins
# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
